In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import requests
#from config import api_key
from pprint import pprint
import numpy as np
import json
import pymysql
# ask abiout this import sqlalchemy
#pymysql.install_as_MySQLdb()
from flask import Flask
from flask_sqlalchemy import SQLAlchemy



api = 'a459ff69f6404e5089d9ef92e0f27bd7'

In [2]:
# app = Flask(__name__)
# app.config['SQLALCHEMY_DATABASE_URI'] = '"mysql+pymysql://root:007326@localhost:3306/School_DB"'
# db = SQLAlchemy(app)

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
# from sqlalchemy import Column, Integer, String, Float
# class location(Base):
#     __tablename__ = 'location'
#     id = Column(Integer, primary_key=True)
#     #index = Column(Integer, primary_key=True)
#     unitid = Column(Integer)
#     chronname = Column(String(100))
#     city = Column(String(100))
#     state = Column(String(50))
#     long_x = Column(Float)
#     lat_y = Column(Float)
#     site = (String(50))

# class Type(Base):
#     __tablename__ = "governace"
#     id = Column(Integer, primary_key=True)
#     level = Column(String(50))
#     control = Column(String(50))
#     basic = Column(String(50))
#     hbcu = Column(String(20))
#     student_count = Column(Integer)
#     flagship = (String(50))
    
# class awards(Base):
#     __tablename__ = "awards"
#     id = Column(Integer, primary_key=True)
#     awards_per_value = Column(Float)
#     awards_per_state_value = Column(Float)
#     awards_per_natl_value = Column(Float)
#     exp_award_value = Column(Integer)
#     exp_award_state_value = Column(Integer)
#     exp_award_natl_value = Column(Integer)
#     exp_award_percentile = Column(Integer)
#     pell_value = Column(Float)
#     pell_percentile = Column(Float)
    
# class sat_and_retain(Base): 
#     __tablename__ = "sat_and_retain"
#     id = Column(Integer, primary_key=True)
#     ft_pct = Column(Float)
#     fte_value = Column(Integer)
#     fte_percentile = Column(Integer)
#     med_sat_value = Column(Integer)
#     med_sat_percentile = Column(Integer)
#     retain_value = Column(Float)
#     retain_percentile = Column(Integer)
#     ft_fac_value = Column(Float)
#     ft_fac_percentile = Column(Integer)
    
# class aid_and_endow(Base):
#     __tablename__ = "aid_and_endow"
#     id = Column(Integer, primary_key=True)
#     aid_value = Column(Integer)
#     aid_percentile = Column(Integer)
#     endow_value = Column(Integer)
#     endow_percentile = Column(Integer)
#     pell_value = Column(Integer)
#     pell_percentile = Column(Integer)

    
# class grad(Base):
#     __tablename__ = "grad"
#     id = Column(Integer, primary_key=True)
#     grad_100_value = Column(Integer)
#     grad_100_percentile = Column(Integer)
#     grad_150_value = Column(Float)
#     grad_150_percentile = Column(Integer)
    
# class VSA(Base):
#     __tablename__ = "vsa"
#     id = Column(Integer, primary_key=True)
#     vsa_year = Column(Integer)
#     vsa_grad_after4_first = Column(Float)
#     vsa_grad_elsewhere_after4_first = Column(Float)
#     vsa_enroll_after4_first = Column(Float)
#     vsa_enroll_elsewhere_after4_first = Column(Float)
#     vsa_grad_after6_first = Column(Float)
#     vsa_grad_elsewhere_after6_first = Column(Float)
#     vsa_enroll_after6_first = Column(Float)
#     vsa_enroll_elsewhere_after6_first = Column(Float)
#     vsa_grad_after4_transfer = Column(Float)
#     vsa_grad_elsewhere_after4_transfer = Column(Float)
#     vsa_enroll_after4_transfer = Column(Float)
#     vsa_enroll_elsewhere_after4_transfer = Column(Float)     
#     vsa_grad_after6_transfer = Column(Float)
#     vsa_grad_elsewhere_after6_transfer = Column(Float)
#     vsa_enroll_after6_transfer = Column(Float)
#     vsa_enroll_elsewhere_after6_transfer = Column(Float)
    
# class misc(Base):
#     __tablename__ = "misc"
#     misc_id = Column(Integer, primary_key=True)
#     similar = Column(Integer)
#     state_sector_ct = Column(Integer)
#     carnegie_ct = Column(Integer)
#     counted_pct = Column(Integer)
#     nicknames = Column(Integer)
#     cohort_size = Column(Integer)
        
    
#     def __repr__(self):
#         return "<User(name='%s', fullname='%s', password='%s')>" % (
 #                            self.name, self.fullname, self.password)

In [5]:
engine = create_engine("mysql+pymysql://root:007326@localhost:3306/School_DB")
conn = engine.connect()
#Base.metadata.create_all(engine)

In [6]:
# reflect an existing database into a new model
#Base = automap_base()
# reflect the tables
#Base.prepare(db.engine, reflect=True)

# Save references to each table
#Samples_Metadata = Base.classes.sample_metadata
#Samples = Base.classes.samples

In [7]:
from sqlalchemy.orm import Session
Session = Session(bind=engine)

In [8]:
df = pd.read_csv('data.csv', encoding = 'ISO-8859-1')

In [9]:
from string import printable
def remove_unicode(x):
    return ''.join([l for l in x if str(l) in printable])

#Location.set_index(keys='unitid', drop=True)
#test = location.loc[3760,'chronname']# = b'The Art Institutes International Kansas City'
#remove_unicode(test)

In [10]:
# df.chronname = df.chronname.str.encode("UTF-8")
df.chronname = df.chronname.apply(remove_unicode)

In [11]:
location = df[['unitid', 'chronname', 'city', 
               'state','long_x', 'lat_y', 'site']]
governace = df[['level', 'control', 'basic',
       'hbcu','student_count', 'flagship']]
awards = df[['awards_per_value', 
             'awards_per_state_value','awards_per_natl_value',
             'exp_award_value', 'exp_award_state_value', 
             'exp_award_natl_value', 'exp_award_percentile']]
sat_and_retain = df[['ft_pct', 'fte_value',
                     'fte_percentile','med_sat_value', 
                     'med_sat_percentile','retain_value', 
                     'retain_percentile','ft_fac_value', 
                     'ft_fac_percentile']]
aid_and_endow = df[['aid_value', 'aid_percentile',
       'endow_value', 'endow_percentile', 'pell_value', 'pell_percentile']]
grad = df[['grad_100_value',
       'grad_100_percentile', 'grad_150_value', 'grad_150_percentile']]

vsa = df[['vsa_year',
       'vsa_grad_after4_first', 
        'vsa_grad_elsewhere_after4_first',
       'vsa_enroll_after4_first', 
        'vsa_enroll_elsewhere_after4_first',
       'vsa_grad_after6_first', 
        'vsa_grad_elsewhere_after6_first',
       'vsa_enroll_after6_first', 
        'vsa_enroll_elsewhere_after6_first',
       'vsa_grad_after4_transfer', 
        'vsa_grad_elsewhere_after4_transfer',
       'vsa_enroll_after4_transfer', 
        'vsa_enroll_elsewhere_after4_transfer',
       'vsa_grad_after6_transfer', 
        'vsa_grad_elsewhere_after6_transfer',
       'vsa_enroll_after6_transfer', 
        'vsa_enroll_elsewhere_after6_transfer']]

misc = df[['similar', 'state_sector_ct', 
        'carnegie_ct', 'counted_pct', 'nicknames']]

In [12]:
#Location.reset_index(drop=True, inplace= True)

In [13]:
location.head()

,unitid,chronname,city,state,long_x,lat_y,site
0,100654,Alabama A&M University,Normal,Alabama,-86.568502,34.783368,www.aamu.edu/
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,-86.809170,33.502230,www.uab.edu
2,100690,Amridge University,Montgomery,Alabama,-86.174010,32.362609,www.amridgeuniversity.edu
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,-86.638420,34.722818,www.uah.edu
4,100724,Alabama State University,Montgomery,Alabama,-86.295677,32.364317,www.alasu.edu/email/index.aspx

In [14]:
#Location.drop(index='unitid')

In [15]:
# test = ['a','b','c']
# '  '.join(test)

In [16]:
# output = []
# for l in test:
#     if l in 'ac':
#         output.append(l)
# output

In [17]:
# [a for a in test if a in 'ac']

In [18]:
location.to_sql("location",engine,if_exists="append", index=False)

In [19]:
# Location.drop(columns='index')
# Location.set_index(keys='unitid', d
x = pd.read_sql('select * from location', engine)

In [20]:
#x.head()

In [21]:
governace.to_sql("governace",engine,if_exists="append")
awards.to_sql("awards",engine,if_exists="append")
sat_and_retain.to_sql("sat_and_retain",engine,if_exists="append")
aid_and_endow.to_sql("aid_and_endow",engine,if_exists="append")
grad.to_sql("grad",engine,if_exists="append")
vsa.to_sql("vsa",engine,if_exists="append")
misc.to_sql("misc",engine,if_exists="append")

In [22]:

# pp.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
# db = SQLAlchemy(app)

# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(db.engine, reflect=True)

# # Save references to each table
# Samples_Metadata = Base.classes.sample_metadata
# Samples = Base.classes.samples


# @app.route("/")
# def index():
#    """Return the homepage."""
#    return render_template("index.html")

In [24]:
#pd.read_sql('select * from grad', engine)